# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcresult
timeline.xctimeline
playground.xcworkspace

# SwiftPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Tooling
*.log
.local/
.superpowers/
